{% extends "admin_base.twig" %}

{% block content %}
<h2>Exclude Days Management</h2>
<h1>Add Exclude Day</h1>
<form method="POST" action="/controllers/admin/exclude_days.php">
    <div>
        <label for="exclude_day">Exclude Day:</label>
        <input type="date" id="exclude_day" name="exclude_day">
        <input type="hidden" name="username" value="{{ username }}">
    </div>
    <button class="button" type="submit">Add Exclude Day</button>
</form>
<h1>Exclude Days</h1>
<table class="exclude_days nst">
    <thead>
        <tr>
            <th>Excluded Date</th>
            <th>Added By</th>
            <th>When Created</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
            {% for exclude_row in exclude_days %}
                <tr>
                    <td data-cell="Excluded Day" class="center">{{ exclude_row.exclude_day }}</td>
                    <td data-cell="Added By" class="center">{{ exclude_row.entered_by }}</td>
                    <td data-cell="Date Added" class="center">{{ exclude_row.entered_at }}</td>
                    <td data-cell="Remove Excluded Day" class="center"><a href="/controllers/admin/delete_exclude_day.php?id={{ exclude_row.id }}">Delete</a></td>
                </tr>
            {% endfor %}
    </tbody>
</table><br>
{% endblock %}